pipeline/IF_ACTIVITY_TBL.json
{
	"name": "IF_ACTIVITY_TBL",
	"properties": {
		"activities": [
			{
				"name": "Lookup_source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(TrxnDate) as SourceTbl_Max_Date from DBO.Iftable_Source",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_table",
						"type": "DatasetReference",
						"parameters": {
							"tblName": "Iftable_source"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup_dest",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(TrxnDate) as DestTbl_Max_Date from DBO.Iftable_Dest",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_table",
						"type": "DatasetReference",
						"parameters": {
							"tblName": "Iftable_dest"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_dest",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\nactivity('Lookup_source').output.firstRow.Sourcetbl_Max_Date,\nactivity('Lookup_dest').output.firstRow.DestTbl_Max_Date\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dynamic_table",
									"type": "DatasetReference",
									"parameters": {
										"tblName": "Iftable_source"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_table",
									"type": "DatasetReference",
									"parameters": {
										"tblName": "Iftable_dest"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-17T02:00:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}